<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
<!--        <testsuite name="Calculator">-->
<!--            <directory suffix="Test.php">./tests/Calculator</directory>-->
<!--        </testsuite>-->
        <testsuite name="Parser">
            <directory suffix="Test.php">./tests/Parser</directory>
        </testsuite>
    </testsuites>
</phpunit>